*{
    margin: 0;
    padding: 0;
}
h1{
    color: black;
}
body{
    background-color: #6457a6;
    text-align: center;
}
.conatainer{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.game{
    height:50vmin;
    width: 50vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}
.box{
    height: 15vmin;
    width: 15vmin;
    border-radius: 15%;
    color: #5c2751;
    font-size: 8vmin;
    background-color: #76e5fc;

}
#msg{
    color: #fff;
    font-size: 5vmin;
}
#reset,
#new-btn{
    background-color: #191913;
    padding: 1.25rem;
    min-width: 10rem;
    font-size: 1.50rem;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.hide{
    display: none;
}